<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <style>
        body {
            background: #333; /* Цвет фона */
            color: #fc0; /* Цвет текста */
        }
    </style>
</head>
<body>
<h1>Edit user profile</h1>
<form method="post" th:object="${user}">
    <table border="1" cellpadding="15">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password (bcrypt)</th>
            <th>Roles</th>
        </tr>
        <tr th:align="center">
            <td th:text="${user.id}"></td>
            <td><input required type="text" th:field="*{username}"></td>
            <td><input required type="text" th:field="*{firstname}"></td>
            <td><input required type="text" th:field="*{surname}"></td>
            <td><input required type="text" th:field="*{age}"></td>
            <td><input required type="email" th:field="*{email}"></td>
            <td><input required type="password" th:field="*{password}"></td>
            <td>
                <input type="checkbox" name="adminRole" value="ROLE_ADMIN"> Admin
                <input type="checkbox" name="userRole" value="ROLE_USER"> User
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Save changes!">
    </p>
</form>
<p>
    <a th:href="@{/admin/index}">
        <input type="submit" value="Back">
    </a>
</p>
<br/>
<p>
    <a th:href="@{/logout}">
        <input type="submit" value="Logout">
    </a>
</p>
</body>
</html>